
<h1>Global Energy Advisor</h1>
<h2>Congratulations! You have a new job as a Global Energy Advisor and the people of the planet need your help.</h2>
<p>
  As of 2021, 79% of the world's energy is produced from fossil fuels including petroleum, coal, and natural gas, which release greenhouse gases that cause climate to warm. Renewable energy sources, including solar and wind, are seeing increased use
  around the world and provide alternatives to fossil fuel sources. In your new Global Energy Advisor role, you must choose a mix of energy sources for the planet that will both meet demand and lower greenhouse gas emissions.</p>
<h3>Choose a mix of energy sources to achieve these two goals:</h3>
<ul>
  <li>
    <strong>Goal 1: Reduce carbon dioxide (CO2) emissions to 21 gigatons per year or less.</strong> Emissions should stay within the green color on the “CO2 Emissions” gauge. Scientists tell us that at that level we can avoid the most severe climate
    change.
  </li>
  <li>
    <strong>Goal 2: Produce 175 petawatt-hours or more of energy per year,</strong> to provide enough energy for the world's population. This is the minimum number required to keep your energy production in the green level.
  </li>
  <li>
    While balancing these two goals, also consider solutions that will keep the cost of energy as low as possible, avoid damage to the environment, and have public support.
  </li>
</ul>

<button  mat-raised-button color="primary" [routerLink]="['/main']">
  main
</button>
