<h1 mat-dialog-title>Instructions</h1>
 <div mat-dialog-content>
 <p>Use the sliders to choose the amount of each type of energy you want to produce to meet: </p><ul><li>Goal 1 - Produce 175 PWh of energy and</li><li>Goal 2 - Keep CO2 emissions below 21 Gt</li></ul>
  <h2>Helpful info:</h2>
  <p>1 petawatt hour (PWh) = 1 billion kWh. In the US, the average household uses 10,632 KWh of energy each year.</p>
  <ul>
    <li>You will need a mix of at least two different energy sources to produce enough energy to meet the global demand.</li>
    </ul>
  <p>1 gigaton (Gt) of carbon dioxide (CO<sub>2</sub>) = 1 billion (109) tons. That’s a big number: equivalent to ~200 million elephants, or enough elephants to cover the distance from Earth to the Moon!</p>
  <ul>
    <li>Some energy sources release more CO<sub>2</sub> into the atmosphere than others. At present, the 21-Gt carbon emissions limit is the maximum amount that can be released each year to still avoid the most severe climate change impacts. Ultimately, emissions will need to be as close to zero as possible.</li>
    </ul>
<p>  <button mat-button class="sources_link" (click)="openSourcesDialog()">Learn more about the costs and impacts of different energy sources.</button></p>
 </div>
 <div mat-dialog-actions>
 <button mat-button (click)="close()" class="nav">Close</button>
 </div>
