.help {
  background-color: #012169;
  color: white;
}
.toggle {
  background-color: #ffb931;
}
.nav {
  background-color:#a8c700;
  color:black;
}
h1 {
  color: #00797c;
  font-weight: bold;
  vertical-align: middle;
}
h2 {
    color: #28939d;
    font-weight: bold;
    vertical-align: middle;
}
