
.mat-slider-vertical {
  height: 100px;
}
.reduce-width {
  width: 85px;
}
h1 {
  color: #00797c;
  font-weight: bold;
  vertical-align: middle;
}
.energyInfo, .emissionsInfo {
  vertical-align: middle;
}
.container {
  display: flex;
  max-width: 1080px;
  min-width: 450px;
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: space-around;
}
.container .row {
  display:flex;
  flex-wrap: wrap;
  justify-content : space-between;
  align-content: space-between;
}
.container .row.header {
  justify-content: space-between;
  background-color: #DBE2E9;
  align-items: center;
}
.home, h1 {
  display: inline;
}
.header {
  padding: 10px;
  border-bottom: 1px solid black;
}
.navbar {

}
.container .row.footer {
  justify-content: flex-start;
  align-items: flex-start;
}
h2 {
  margin-bottom: 0;
}
.tip-tooltip {
  background-color: #28938d;
  color: #fff;
  margin-bottom: 1.125rem;
  padding: 1.875rem;
}
.tip-tooltip h2 {
  color: #bfd600;
}
.tip-tooltip p {

}
.subtitle {
  margin-left:70px;
}
.help {
  background-color: #012169;
  color: white;
    margin-right: 20px;
}
.reset {
  background-color: #ffb931;
  color: black;
  margin-right: 20px;
}
.toggle {
  background-color: #012169;
  color:#fff;
  width: 100%;
}
.chart-emissions,
.chart-energy {
  flex-grow: 3;
}
.chart-data {
  width: 20%;
}
.nav {
  background-color:#a8c700;
  color:black;
  margin-right: 20px;
}
.sources {
  margin-right: 20px;
  color:#00797c;
}

.hidden {
  display:none;
}
mat-icon.success {
  color: #ffb931;
  vertical-align: middle;
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: 1;
}
mat-icon.failure {
  color: #cc0000;
  vertical-align: middle;
}
mat-icon.help {

}
h2 {
  font-size: 1rem;
}
.energyOver {
  color:black;
}
.energyUnder {
  color:#cc0000;
}
.emissionsUnder {
  color:black;
}
.emissionsOver {
  color:#cc0000;
}
 :host ::ng-deep {
  .mat-slider-thumb-label {
    transform: rotate(-45deg) !important;
    border-radius: 50% 50% 0 !important;
  }
  .mat-slider-thumb {
    transform: scale(0) !important;
  }
  .mat-slider-thumb-label-text {
    opacity: 1 !important;
  }

  /* custom slider colors */
  .slider.petroleum {
    /* custom slider colors */
    .mat-slider-thumb {
      background-color:#D55E00;
    }
    .mat-slider-thumb-label {
      background-color:#D55E00;
    }
    .mat-slider-track-fill  {
      background-color:#D55E00;
    }
  }
  .field.petroleum.mat-form-field-appearance-fill .mat-form-field-flex {
    border-bottom: 2px solid #D55E00;
  }
  .slider.coal {
    /* custom slider colors */
    .mat-slider-thumb {
      background-color:#000000;
    }
    .mat-slider-thumb-label {
      background-color:#000000;
    }
    .mat-slider-track-fill  {
      background-color:#000000;
    }
  }
  .field.coal.mat-form-field-appearance-fill .mat-form-field-flex {
    border-bottom: 2px solid #000000;
  }
  .slider.natural-gas {
    /* custom slider colors */
    .mat-slider-thumb {
      background-color:#E69F00;
    }
    .mat-slider-thumb-label {
      background-color:#E69F00;
    }
    .mat-slider-thumb-label-text {
      color:#000000;
    }
    .mat-slider-track-fill  {
      background-color:#E69F00;
    }
  }
  .field.natural-gas.mat-form-field-appearance-fill .mat-form-field-flex {
    border-bottom: 2px solid #E69F00;
  }
  .field.nuclear.mat-form-field-appearance-fill .mat-form-field-flex {
    border-bottom: 2px solid #CC79A7;
  }
  .slider.nuclear {
    /* custom slider colors */
    .mat-slider-thumb {
      background-color:#CC79A7;
    }
    .mat-slider-thumb-label {
      background-color:#CC79A7;
    }
    .mat-slider-thumb-label-text {
      color:#000000;
    }
    .mat-slider-track-fill  {
      background-color:#CC79A7;
    }
  }
  .field.hydro.mat-form-field-appearance-fill .mat-form-field-flex {
    border-bottom: 2px solid #2372B2;
  }
  .slider.hydro {
    /* custom slider colors */
    .mat-slider-thumb {
      background-color:#2372B2;
    }
    .mat-slider-thumb-label {
      background-color:#2372B2;
    }
    .mat-slider-track-fill  {
      background-color:#2372B2;
    }
  }
  .field.biofuels.mat-form-field-appearance-fill .mat-form-field-flex {
    border-bottom: 2px solid #159E74;
  }
  .slider.biofuels {
    /* custom slider colors */
    .mat-slider-thumb {
      background-color:#159E74;
    }
    .mat-slider-thumb-label {
      background-color:#159E74;
    }
    .mat-slider-track-fill  {
      background-color:#159E74;
    }
  }
  .field.wind.mat-form-field-appearance-fill .mat-form-field-flex {
    border-bottom: 2px solid #56B4E9;
  }
  .slider.wind {
    /* custom slider colors */
    .mat-slider-thumb {
      background-color:#56B4E9;
    }
    .mat-slider-thumb-label {
      background-color:#56B4E9;
    }
    .mat-slider-thumb-label-text {
      color:#000000;
    }
    .mat-slider-track-fill  {
      background-color:#56B4E9;
    }
  }
  .field.solar.mat-form-field-appearance-fill .mat-form-field-flex {
    border-bottom: 2px solid #F0E442;
  }
  .slider.solar {
    /* custom slider colors */
    .mat-slider-thumb {
      background-color:#F0E442;
    }
    .mat-slider-thumb-label {
      background-color:#F0E442;
    }
    .mat-slider-thumb-label-text {
      color:#000000;
    }
    .mat-slider-track-fill  {
      background-color:#F0E442;
    }
  }
  .field.geothermal.mat-form-field-appearance-fill .mat-form-field-flex {
    border-bottom: 2px solid #999933;
  }
  .slider.geothermal {
    /* custom slider colors */
    .mat-slider-thumb {
      background-color:#999933;
    }
    .mat-slider-thumb-label {
      background-color:#999933;
    }

    .mat-slider-track-fill  {
      background-color:#999933;
    }
  }
}



@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
