<div class="container">
  <h1>Choose Your Energy Mix <button mat-icon-button (click)="openDialog()"><mat-icon class="help" aria-hidden="false" aria-label="How to use these options." fontIcon="info"></mat-icon></button></h1>
  <div class="row">
    <div class="col-2">
      <mat-slider class="slider petroleum" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step" [thumbLabel]="thumbLabel" [tickInterval]="step" [(ngModel)]="sources_list['petroleum'].energy" [vertical]="vertical"
        (change)="onSliderInputChange($event,'petroleum')">
      </mat-slider>
      <br />
      <mat-form-field appearance="fill" class="reduce-width field petroleum">
        <mat-label>Petroleum</mat-label>
        <input matInput type="number" [(ngModel)]="sources_list['petroleum'].energy"(change)="onInputChange($event,'petroleum')">
      </mat-form-field>
    </div>
    <div class="col-2">

      <mat-slider class="slider coal" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step" [thumbLabel]="thumbLabel" [tickInterval]="step" [(ngModel)]="sources_list['coal'].energy" [vertical]="vertical"
        (change)="onSliderInputChange($event,'coal')">
      </mat-slider>
      <br />
      <mat-form-field appearance="fill" class="reduce-width field coal">
        <mat-label>Coal</mat-label>
        <input matInput type="number" [(ngModel)]="sources_list['coal'].energy"(change)="onInputChange($event,'coal')">
      </mat-form-field>
    </div>
    <div class="col-2">
      <mat-slider class="slider natural-gas" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step" [thumbLabel]="thumbLabel" [tickInterval]="step" [(ngModel)]="sources_list['natural_gas'].energy" [vertical]="vertical"
        (change)="onSliderInputChange($event,'natural_gas')">
      </mat-slider><br />
      <mat-form-field appearance="fill" class="reduce-width field natural-gas">
        <mat-label>Natural Gas</mat-label>
        <input matInput type="number" [(ngModel)]="sources_list['natural_gas'].energy" (change)="onInputChange($event,'natural_gas')">
      </mat-form-field>
    </div>
    <div class="col-2">
      <mat-slider class="slider nuclear" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step" [thumbLabel]="thumbLabel" [tickInterval]="step" [(ngModel)]="sources_list['nuclear'].energy" [vertical]="vertical"
        (change)="onSliderInputChange($event,'nuclear')">
      </mat-slider><br />
      <mat-form-field appearance="fill" class="reduce-width field nuclear">
        <mat-label>Nuclear</mat-label>
        <input matInput type="number" [(ngModel)]="sources_list['nuclear'].energy" (change)="onInputChange($event,'nuclear')">
      </mat-form-field>
    </div>
    <div class="col-2">
      <mat-slider class="slider hydro" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step" [thumbLabel]="thumbLabel" [tickInterval]="step" [(ngModel)]="sources_list['hydro'].energy" [vertical]="vertical"
        (change)="onSliderInputChange($event,'hydro')">
      </mat-slider><br />
      <mat-form-field appearance="fill" class="reduce-width field hydro">
        <mat-label>Hydroelectric</mat-label>
        <input matInput type="number" [(ngModel)]="sources_list['hydro'].energy" (change)="onInputChange($event,'hydro')">
      </mat-form-field>
    </div>

    <div class="col-2">
      <mat-slider class="slider biofuels" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step" [thumbLabel]="thumbLabel" [tickInterval]="step" [(ngModel)]="sources_list['biofuels'].energy" [vertical]="vertical"
        (change)="onSliderInputChange($event,'biofuels')">
      </mat-slider><br />
      <mat-form-field appearance="fill" class="reduce-width field biofuels">
        <mat-label>Biofuels</mat-label>
        <input matInput type="number" [(ngModel)]="sources_list['biofuels'].energy" (change)="onInputChange($event,'biofuels')">
      </mat-form-field>
    </div>
    <div class="col-2">
      <mat-slider class="slider wind" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step" [thumbLabel]="thumbLabel" [tickInterval]="step" [(ngModel)]="sources_list['wind'].energy" [vertical]="vertical"
        (change)="onSliderInputChange($event,'wind')">
      </mat-slider><br />
      <mat-form-field appearance="fill" class="reduce-width field wind">
        <mat-label>Wind</mat-label>
        <input matInput type="number" [(ngModel)]="sources_list['wind'].energy" (change)="onInputChange($event,'wind')">
      </mat-form-field>
    </div>
    <div class="col-2">
      <mat-slider class="slider solar" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step" [thumbLabel]="thumbLabel" [tickInterval]="step" [(ngModel)]="sources_list['solar'].energy" [vertical]="vertical"
        (change)="onSliderInputChange($event,'solar')">
      </mat-slider><br />
      <mat-form-field appearance="fill" class="reduce-width field solar">
        <mat-label>Solar</mat-label>
        <input matInput type="number" [(ngModel)]="sources_list['solar'].energy" (change)="onInputChange($event,'solar')">
      </mat-form-field>
    </div>
    <div class="col-2">
      <mat-slider class="slider geothermal" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step" [thumbLabel]="thumbLabel" [tickInterval]="step" [(ngModel)]="sources_list['geothermal'].energy" [vertical]="vertical"
        (change)="onSliderInputChange($event,'geothermal')">
      </mat-slider><br />
      <mat-form-field appearance="fill" class="reduce-width field geothermal">
        <mat-label>Geothermal</mat-label>
        <input matInput type="number" [(ngModel)]="sources_list['geothermal'].energy" (change)="onInputChange($event,'geothermal')">
      </mat-form-field>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-6">
      <h2>Goal 1: Produce 175 petawatt-hours of energy per year or more </h2>
      <div id="divSourcesChart"></div>
      <p [class]="energyClass"><mat-icon  *ngIf="energyClass != 'energyUnder'" aria-hidden="false" aria-label="You've achieved your energy goals." fontIcon="verified"></mat-icon> Total Energy Produced: {{ total_energy | number }} PWh<br/> You are producing {{ pctEnergy }}% of the energy needed.</p>
      <p *ngIf="energyClass == 'energyUnder'"><strong>You must produce at least 175 PWh of energy to meet global demand.</strong></p>
    </div>
    <div class="col-6">
      <h2>Goal 2: Reduce CO<sub>2</sub> emissions to 21 gigatons per year or less</h2>
      <div id="divEmissionsChart"></div>
      <p [class]="emissionsClass"><mat-icon *ngIf="emissionsClass != 'emissionsOver'" aria-hidden="false" aria-label="You've achieved your emissions goals." fontIcon="verified"></mat-icon> Total Emissions Generated: {{ total_emissions | number }} Gt CO<sub>2</sub> emissions<br/> You are producting {{pctCO2emissions}}% of the maximum allowable emissions.</p>
      <p *ngIf="emissionsClass == 'emissionsOver'"><strong>You must reduce your emissions to 21 Gt CO<sub>2</sub> or less.</strong></p>
    </div>
  </div>
</div>
