<div class="container">
  <div class="row">
    <div class="col-2">
      <mat-slider class="example-margin" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step" [thumbLabel]="thumbLabel" [tickInterval]="step" [(ngModel)]="sources_list['petroleum'].energy" [vertical]="vertical"
        (change)="onSliderInputChange($event,'petroleum')">
      </mat-slider>
      <br />
      <mat-form-field appearance="fill" class="reduce-width">
        <mat-label>Petroleum</mat-label>
        <input matInput type="number" [(ngModel)]="sources_list['petroleum'].energy"(change)="onInputChange($event,'petroleum')">
      </mat-form-field>
    </div>
    <div class="col-2">

      <mat-slider class="example-margin" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step" [thumbLabel]="thumbLabel" [tickInterval]="step" [(ngModel)]="sources_list['coal'].energy" [vertical]="vertical"
        (change)="onSliderInputChange($event,'coal')">
      </mat-slider>
      <br />
      <mat-form-field appearance="fill" class="reduce-width">
        <mat-label>Coal</mat-label>
        <input matInput type="number" [(ngModel)]="sources_list['coal'].energy"(change)="onInputChange($event,'coal')">
      </mat-form-field>
    </div>
    <div class="col-2">
      <mat-slider class="example-margin" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step" [thumbLabel]="thumbLabel" [tickInterval]="step" [(ngModel)]="sources_list['natural_gas'].energy" [vertical]="vertical"
        (change)="onSliderInputChange($event,'natural_gas')">
      </mat-slider><br />
      <mat-form-field appearance="fill" class="reduce-width">
        <mat-label>Natural Gas</mat-label>
        <input matInput type="number" [(ngModel)]="sources_list['natural_gas'].energy" (change)="onInputChange($event,'natural_gas')">
      </mat-form-field>
    </div>
    <div class="col-2">
      <mat-slider class="example-margin" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step" [thumbLabel]="thumbLabel" [tickInterval]="step" [(ngModel)]="sources_list['nuclear'].energy" [vertical]="vertical"
        (change)="onSliderInputChange($event,'nuclear')">
      </mat-slider><br />
      <mat-form-field appearance="fill" class="reduce-width">
        <mat-label>Nuclear</mat-label>
        <input matInput type="number" [(ngModel)]="sources_list['nuclear'].energy" (change)="onInputChange($event,'nuclear')">
      </mat-form-field>
    </div>
    <div class="col-2">
      <mat-slider class="example-margin" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step" [thumbLabel]="thumbLabel" [tickInterval]="step" [(ngModel)]="sources_list['hydro'].energy" [vertical]="vertical"
        (change)="onSliderInputChange($event,'hydro')">
      </mat-slider><br />
      <mat-form-field appearance="fill" class="reduce-width">
        <mat-label>Hydro</mat-label>
        <input matInput type="number" [(ngModel)]="sources_list['hydro'].energy" (change)="onInputChange($event,'hydro')">
      </mat-form-field>
    </div>

    <div class="col-2">
      <mat-slider class="example-margin" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step" [thumbLabel]="thumbLabel" [tickInterval]="step" [(ngModel)]="sources_list['biofuels'].energy" [vertical]="vertical"
        (change)="onSliderInputChange($event,'biofuels')">
      </mat-slider><br />
      <mat-form-field appearance="fill" class="reduce-width">
        <mat-label>Biofuels</mat-label>
        <input matInput type="number" [(ngModel)]="sources_list['biofuels'].energy" (change)="onInputChange($event,'biofuels')">
      </mat-form-field>
    </div>
    <div class="col-2">
      <mat-slider class="example-margin" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step" [thumbLabel]="thumbLabel" [tickInterval]="step" [(ngModel)]="sources_list['wind'].energy" [vertical]="vertical"
        (change)="onSliderInputChange($event,'wind')">
      </mat-slider><br />
      <mat-form-field appearance="fill" class="reduce-width">
        <mat-label>Wind</mat-label>
        <input matInput type="number" [(ngModel)]="sources_list['wind'].energy" (change)="onInputChange($event,'wind')">
      </mat-form-field>
    </div>
    <div class="col-2">
      <mat-slider class="example-margin" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step" [thumbLabel]="thumbLabel" [tickInterval]="step" [(ngModel)]="sources_list['solar'].energy" [vertical]="vertical"
        (change)="onSliderInputChange($event,'solar')">
      </mat-slider><br />
      <mat-form-field appearance="fill" class="reduce-width">
        <mat-label>Solar</mat-label>
        <input matInput type="number" [(ngModel)]="sources_list['solar'].energy" (change)="onInputChange($event,'solar')">
      </mat-form-field>
    </div>
    <div class="col-2">
      <mat-slider class="example-margin" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step" [thumbLabel]="thumbLabel" [tickInterval]="step" [(ngModel)]="sources_list['geothermal'].energy" [vertical]="vertical"
        (change)="onSliderInputChange($event,'geothermal')">
      </mat-slider><br />
      <mat-form-field appearance="fill" class="reduce-width">
        <mat-label>Geothermal</mat-label>
        <input matInput type="number" [(ngModel)]="sources_list['geothermal'].energy" (change)="onInputChange($event,'geothermal')">
      </mat-form-field>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div id="divSourcesChart"></div>
      <p [class]="energyClass">Total Energy Produced: {{ total_energy | number }} PW h<br/> You are producing {{ pctEnergy }}% of the energy needed.</p>
      <p *ngIf="energyClass == 'energyUnder'">You must produce more energy.</p>
    </div>
    <div class="col-6">
        <div id="divEmissionsChart"></div>
      <p [class]="emissionsClass">Total Emissions Generated: {{ total_emissions | number }} kg CO<sub>2</sub> emissions per MWh<br/> You are producting {{pctCO2emissions}}% of the maximum allowable emissions.</p>
      <p *ngIf="emissionsClass == 'emissionsOver'">You must reduce your emissions.</p>
    </div>
  </div>
</div>
